ev_kapasitetsledd.flow
[{"id":"9007513f59250f7c","type":"api-current-state","z":"717cbe6ee4b6b06d","name":"","server":"9020fc33.6375e","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.kamstrup_active_power_import","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"kamstrup_active_power_import","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":400,"y":260,"wires":[["096fac8dcf43b36d"]]},{"id":"8b81d594c6ec70a3","type":"inject","z":"717cbe6ee4b6b06d","name":"","props":[{"p":"payload"}],"repeat":"60","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":120,"wires":[["58766e6574d66677"]]},{"id":"cb5118563559db9d","type":"function","z":"717cbe6ee4b6b06d","name":"function 1","func":"const kamstrup_power_limit = 9500; // Maksimalt tillatt forbruk i watt\nconst impport_power = msg.kamstrup_active_power_import;\nlet max_circuit = msg.elbillader_eventity_3_max_circuit_limit;\nlet dynamic_circuit = msg.elbillader_eventity_3_dynamic_circuit_limit;\nlet ev_power = msg.elbillader_eventity_3_power * 1000;\nconst voltage = msg.spenning; // Legg til den faktiske spenningen her\n\nconst amp_available = Math.floor((kamstrup_power_limit - (impport_power - ev_power)) / 230);\n\nmsg.watts = impport_power;\n\nif (impport_power > kamstrup_power_limit) {\n    node.log(\"juster under\"+ amp_available);\n    msg.payload = amp_available;\n    return msg;\n} else if (amp_available >= max_circuit && max_circuit !== dynamic_circuit) {\n    node.log(\"over max: \" + max_circuit);\n    msg.payload = max_circuit;\n    \n    return msg;\n} else {\n    node.log(\"ingenting\"+ amp_available);\n}","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":440,"wires":[["5770cb7e853f05d8","f0d8bd59aa489624","b7ed0debebbf92a4"]]},{"id":"096fac8dcf43b36d","type":"api-current-state","z":"717cbe6ee4b6b06d","name":"","server":"9020fc33.6375e","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.elbillader_eventity_3_dynamic_circuit_limit","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"elbillader_eventity_3_dynamic_circuit_limit","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":480,"y":320,"wires":[["979b69c468e55b2f"]]},{"id":"58766e6574d66677","type":"api-current-state","z":"717cbe6ee4b6b06d","name":"","server":"9020fc33.6375e","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.elbillader_eventity_3_power","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"elbillader_eventity_3_power","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":390,"y":200,"wires":[["9007513f59250f7c"]]},{"id":"5770cb7e853f05d8","type":"api-call-service","z":"717cbe6ee4b6b06d","name":"Oppdater max_circuit","server":"9020fc33.6375e","version":5,"debugenabled":false,"domain":"easee","service":"set_circuit_dynamic_limit","areaId":[],"deviceId":[],"entityId":[],"data":"{\"charger_id\": \"EHGSJ6B7\", \"currentP1\": {{payload}}}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"output_location":"","output_location_type":"none","service_domain":"homeassistant","mergecontext":"","x":900,"y":320,"wires":[[]]},{"id":"b7ed0debebbf92a4","type":"api-call-service","z":"717cbe6ee4b6b06d","name":"","server":"9020fc33.6375e","version":5,"debugenabled":false,"domain":"notify","service":"mobile_app_sm_g991b","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"Oppdaterer ladeamp Easee til {{payload}}\",\"title\":\"Endret lade amper Easee\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1040,"y":400,"wires":[[]]},{"id":"979b69c468e55b2f","type":"api-current-state","z":"717cbe6ee4b6b06d","name":"","server":"9020fc33.6375e","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.elbillader_eventity_3_max_circuit_limit","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"elbillader_eventity_3_max_circuit_limit","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":440,"y":380,"wires":[["cb5118563559db9d"]]},{"id":"f0d8bd59aa489624","type":"debug","z":"717cbe6ee4b6b06d","name":"debug 1","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":930,"y":560,"wires":[]},{"id":"9020fc33.6375e","type":"server","name":"Home Assistant","addon":true}]
