flow.json
[{"id":"c61c4d4d.4e57f","type":"function","z":"7d3776b649989fee","name":"Calculate Amps","func":"const exportWatts = parseFloat(msg.exportpower);\nconst importWatts = parseFloat(msg.importpower);\nconst evWatts = parseFloat(msg.evpower);\n\nconst totalWatts = exportWatts + evWatts - importWatts;\n\nif (!isNaN(totalWatts)) {\n    // Convert negative watts to positive\n    const watts = Math.abs(totalWatts);\n    // Convert watts to amps at 240V\n    let amps = Math.round((watts / 240) * Math.pow(10, 0)) / Math.pow(10, 0);\n\n    if (amps > 32) {\n        amps = 32;\n    }\n\n    if (totalWatts < 0) {\n        amps = 0;\n    }\n\n    // Check if amps have changed\n    if (msg.amps !== amps) {\n        msg.amps = amps;\n        msg.totalPower = totalWatts\n        return msg;\n    }\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":860,"y":160,"wires":[["a81a707ae7966c3b"]]},{"id":"e1c158186cf24b50","type":"api-current-state","z":"7d3776b649989fee","name":"export power","server":"a7c55e81aa13f774","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.kamstrup_active_power_export","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"exportpower","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":850,"y":80,"wires":[["5de368b2e2a1dcdf"]]},{"id":"ee54b4d82e162014","type":"poll-state","z":"7d3776b649989fee","name":"Is Tesla connected to Wall Connector?","server":"a7c55e81aa13f774","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"60","updateIntervalType":"num","updateIntervalUnits":"seconds","outputinitially":true,"outputonchanged":true,"entity_id":"binary_sensor.tesla_wall_connector_vehicle_connected","state_type":"str","halt_if":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"x":490,"y":80,"wires":[["5b36a9472974208e"],[]]},{"id":"a81a707ae7966c3b","type":"switch","z":"7d3776b649989fee","name":"Is export power more than 5 amps?","property":"amps","propertyType":"msg","rules":[{"t":"gte","v":"5","vt":"str"},{"t":"lte","v":"5","vt":"str"},{"t":"null"}],"checkall":"true","repair":false,"outputs":3,"x":780,"y":220,"wires":[["caf37618d6d43509"],["f3ccc1644b424771"],[]]},{"id":"caf37618d6d43509","type":"api-current-state","z":"7d3776b649989fee","name":"Is tesla charging activated?","server":"a7c55e81aa13f774","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.charger","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1100,"y":200,"wires":[["78d4808a694b49e2"],["6cfc713846931c52"]]},{"id":"6cfc713846931c52","type":"api-call-service","z":"7d3776b649989fee","name":"Activate Charging","server":"a7c55e81aa13f774","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.charger"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1130,"y":320,"wires":[["78d4808a694b49e2"]]},{"id":"78d4808a694b49e2","type":"api-call-service","z":"7d3776b649989fee","name":"Set amps to tesla","server":"a7c55e81aa13f774","version":5,"debugenabled":false,"domain":"number","service":"set_value","areaId":[],"deviceId":[],"entityId":["number.charging_amps"],"data":"{\"value\":{{amps}}}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1390,"y":240,"wires":[[]]},{"id":"19ed8543f91fbc31","type":"api-call-service","z":"7d3776b649989fee","name":"Turn Off Charging","server":"a7c55e81aa13f774","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.charger"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":790,"y":460,"wires":[[]]},{"id":"5b36a9472974208e","type":"api-current-state","z":"7d3776b649989fee","name":"import power","server":"a7c55e81aa13f774","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.kamstrup_active_power_import","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"importpower","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":790,"y":40,"wires":[["e1c158186cf24b50"]]},{"id":"5de368b2e2a1dcdf","type":"api-current-state","z":"7d3776b649989fee","name":"ev power","server":"a7c55e81aa13f774","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.powercalc_all_ev","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"evpower","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":1020,"y":80,"wires":[["c61c4d4d.4e57f"]]},{"id":"3a354a5c5d323297","type":"debug","z":"7d3776b649989fee","name":"debug 13","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"auto","x":1110,"y":460,"wires":[]},{"id":"f3ccc1644b424771","type":"api-call-service","z":"7d3776b649989fee","name":"Reduce to 5 amps","server":"a7c55e81aa13f774","version":5,"debugenabled":false,"domain":"number","service":"set_value","areaId":[],"deviceId":[],"entityId":["number.charging_amps"],"data":"{\"value\":5}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":730,"y":340,"wires":[["0607b93e3d4b7c83"]]},{"id":"0607b93e3d4b7c83","type":"function","z":"7d3776b649989fee","name":"If reduces 2 times stop charging.","func":"var count = 0;\n\nreturn function (msg, send, done) {\n    count++;\n\n    if (count >= 2) {\n        // Utfør handlingen her\n        // ...\n\n        // Nullstill telleren\n        count = 0;\n    } else {\n        // Vent på neste oppdatering av flowet\n        return null;\n    }\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":400,"wires":[["19ed8543f91fbc31"]]},{"id":"a7c55e81aa13f774","type":"server","name":"Home Assistant","version":5,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":false,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30","areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m","enableGlobalContextStore":true}]
